@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<KargoTakip>
@{
    /**/

    ViewBag.Title = "CariKargoTakip";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}
<br />
<table class="table table-striped">
    <tr>
        <th>Sıra</th>
        <th>Açıklama</th>
        <th>Tarih</th>
    </tr>
    @{ int sira = 0;}
    @foreach (var x in Model)
    {
        <tr>
            <td>@{sira++;}@sira</td>
            <td>@x.Aciklama</td>
            <td>@x.TarihZaman</td>
        </tr>
    }
</table>



